In [9]:
import pandas as pd
from datetime import datetime

def is_date(string, fuzzy=False):
    """
    Return whether the string can be interpreted as a date.
    """
    try: 
        pd.to_datetime(string, errors='raise')
        return True

    except ValueError:
        return False

def convert_dob_to_age(df):
    current_year = datetime.now().year
    
    # Iterate through each column
    for col in df.columns:
        
        # Check if the column contains date type values
        if df[col].apply(is_date).all():
            
            # Convert to datetime format
            df[col] = pd.to_datetime(df[col], errors='coerce')
            
            # Convert dates to age
            df[col] = current_year - df[col].dt.year
            
            
    return df


# Sample dataframe
data = {
    'DOB1': ['1995-02-15', '1985-10-10', '1975-05-05'],
    'DOB2': ['20000601', '19900820', '19800915'],
    'DOB3': ['01 JUN 2000', '08 DEC 1980', '09 OCT 1950'],
    'DOB4': ['01/25/1987', '11/01/1997', '06/30/2000'],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Score': [85, 90, 75]
}

df = pd.DataFrame(data)
df = convert_dob_to_age(df)
print(df)

   DOB1  DOB2  DOB3  DOB4     Name  Score
0    28    23    23    36    Alice     53
1    38    33    43    26      Bob     53
2    48    43    73    23  Charlie     53

C:\Users\JuanChamieQuintero\AppData\Local\Temp\ipykernel_26072\1629205222.py:25: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[col] = pd.to_datetime(df[col], errors='coerce')

Multiple Options

In [10]:
import pandas as pd
from datetime import datetime

# Sample dataframe
data = {
    'DOB1': ['1995-02-15', '1985-10-10', '1975-05-05'],
    'DOB2': ['20000601', '19900820', '19800915'],
    'DOB3': ['01 JUN 2000', '08 DEC 1980', '09 OCT 1950'],
    'DOB4': ['01/25/1987', '11/01/1997', '06/30/2000'],
    'Name': ['QWE', 'GFD', 'TGN'],
    'Score': [865, 950, 754]
}

df = pd.DataFrame(data)
print(df)


possible_date_formats = [
    "%Y-%m-%d",         # 2023-09-15
    "%m/%d/%Y",         # 09/15/2023
    "%m-%d-%Y",         # 09-15-2023
    "%b %d, %Y",        # Sep 15, 2023
    "%B %d, %Y",        # September 15, 2023
    "%d/%m/%Y",         # 15/09/2023
    "%d-%m-%Y",         # 15-09-2023
    "%d.%m.%Y",         # 15.09.2023
    "%Y%m%d",           # 20230915
    "%d %b %Y",         # 15 Sep 2023
    "%d %B %Y",         # 15 September 2023
    "%Y-%m-%d %H:%M:%S",# 2023-09-15 12:30:45
    "%m/%d/%Y %I:%M %p",# 09/15/2023 12:30 PM
    "%d/%m/%Y %H:%M",   # 15/09/2023 12:30
    "%A, %d %B %Y",     # Friday, 15 September 2023
    "%Y-%m-%d %H:%M:%S %Z", # 2023-09-15 12:30:45 UTC
    "%a, %b %d, %Y"     # Fri, Sep 15, 2023
]

current_year = datetime.now().year

# Convert columns to age if they contain date values
for col in df.columns:
    # Only process columns of type 'object'
    if df[col].dtype == 'object':
        for date_format in possible_date_formats:
            try:
                # Convert column to datetime using the specific format
                temp_col = pd.to_datetime(df[col], format=date_format, errors='raise')
                df[col] = current_year - temp_col.dt.year
                break  # Break the inner loop if conversion was successful
            except:
                continue  # Continue to the next date format if this one failed

print(df)

         DOB1      DOB2         DOB3        DOB4 Name  Score
0  1995-02-15  20000601  01 JUN 2000  01/25/1987  QWE    865
1  1985-10-10  19900820  08 DEC 1980  11/01/1997  GFD    950
2  1975-05-05  19800915  09 OCT 1950  06/30/2000  TGN    754
   DOB1  DOB2  DOB3  DOB4 Name  Score
0    28    23    23    36  QWE    865
1    38    33    43    26  GFD    950
2    48    43    73    23  TGN    754